<a href="https://colab.research.google.com/github/leegaon0622/Bigdata/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_4%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.아래와 같은 구조를 갖는  데이터 프레임에서    (원본 객체 변경: iplace=True)  
1) 이름을 index로 설정하고  
2) '취미' 열을 삭제 하고    
3) '나라' 행을 삭제 하고    
4) '지민' 행을 이름 인덱스를 이용하여  추가 하여  '16, 중등, 효성'    데이터를 저장하고  
5) column 이름 '학교'를 '교명'으로 바꾸고  
6) 우석과 인아의 교명을 선경1, 한국1로 변경하고  
7) 나이 기준 어린  순으로 행을 정렬 한 후  
8) '국적'열을 추가 한 후 모두 '한국' 으로 저장 한 후  
9) print하는 code를 작성 하시오  


|이름|나이|구분|취미|학교 |
|-|-|-|-|-|
|우석|17|고등|독서|선경|
|인아|14|중등|산책|한국|
|나라|12|초등|축구|우성|
|민정|19|고등|독서|효성|
|서준|15|중등|농구|상성|

In [ ]:
%reset -f
#과제 1
import pandas as pd
student_data = {'이름':['우석', '인아', '나라', '민정', '서준'],
                '나이': [17,14,12,19,15],
                '구분':['고등','중등','초등','고등','중등'],
                '취미':['독서','산책','축구', '독서','농구'],
                '학교':['선경','한국','우성','효성','상성'] }
df=pd.DataFrame(student_data)
print(df)

#1)
df.set_index(['이름'],inplace=True)

#2)
df.drop('취미',axis=1,inplace=True)

#3)
df.drop('나라',inplace=True)

#4)
df.loc['지민']= [16,'중등','효성']
print(df)

#5)
df.rename(columns={'학교':'교명'},inplace=True)

#6)
df.loc['우석':'인아','교명']=['선경1','한국1']

#7)
df.sort_values(by='나이',inplace=True)

#8)
df['국적']='한국'

#9)
print(df)

   이름  나이  구분  취미  학교
0  우석  17  고등  독서  선경
1  인아  14  중등  산책  한국
2  나라  12  초등  축구  우성
3  민정  19  고등  독서  효성
4  서준  15  중등  농구  상성
    나이  구분  학교
이름
우석  17  고등  선경
인아  14  중등  한국
민정  19  고등  효성
서준  15  중등  상성
지민  16  중등  효성
    나이  구분   교명  국적
이름
인아  14  중등  한국1  한국
서준  15  중등   상성  한국
지민  16  중등   효성  한국
우석  17  고등  선경1  한국
민정  19  고등   효성  한국

2.아래와 같은 구조를 갖는  데이터 프레임에서    (원본 객체 변경: iplace=True)  
1) '인문' 열을 추가 하여 영어와 국어 성적의 합계를 저장하고  
2) '과학' 열을 추가 하여 물리와 화학 성적의 합계를 저장하고  
3)  과학 성적으로 내림 차순으로 정렬하고  
4) print하는 code를 작성하시오.   


|이름|국어|영어|물리|화학|
|-|-|-|-|-|
|우석|90|85|70|50|
|인아|80|90|80|70|
|나라|75|85|80|90|
|민정|90|95|90|100|

In [ ]:
%reset -f
#과제 2
import pandas as pd
student_data = {'이름':['우석', '인아', '나라', '민정'],
                '국어':[90,80,75,90],
                '영어':[85,90,85,95],
                '물리':[70,80,80,90],
                '화학':[50,70,90,100] }
df=pd.DataFrame(student_data)
print(df)

#1)
df['인문']=df['영어']+df['국어']

#2)
df['과학']=df['물리']+df['화학']

#3)
df.sort_values(by='과학',ascending=False,inplace=True)

#4)
print(df)

3.1) iris3.csv 파일을 읽고 (첫번째 행을 column 이름으로)  
2) column 이름을 'feat1','feat2','feat3','feat4','name'으로 변경하고  
3) 처음 3개 행을 print하고  
4) 요약 정보를 print하고  
5) 통계 정보를 print하고  
6) 각 열 데이터의 고유값 개수를 print하고  
7) 'feat2' 열의 최대값 print  
8) 'feat4' 열의 표준 편차 print   
9) 'feat1'과 'feat3'의 상관계수를 출력하는 코드를 작성 하시오.

In [ ]:
%reset -f
#과제 3
import pandas as pd

#1)
df=pd.read_csv('iris3.csv')
#2)
df.columns=['feat1','feat2','feat3','feat4','name']
#3)
print(df.head(3))
#4)
print(df.info())
#5)
print(df.describe())
#6)
print(df['name'].value_counts())
#7)
print(df['feat2'].max())
#8)
print(df['feat4'].std())
#9)
print(df[['feat1','feat3']].corr())

   feat1  feat2  feat3  feat4         name
0    5.1    3.5    1.4    0.2  Iris-setosa
1    4.9    3.0    1.4    0.2  Iris-setosa
2    4.7    3.2    1.3    0.2  Iris-setosa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   feat1   150 non-null    float64
 1   feat2   150 non-null    float64
 2   feat3   150 non-null    float64
 3   feat4   150 non-null    float64
 4   name    150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
            feat1       feat2       feat3       feat4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: name, dtype: int64
4.4
0.7631607417008411
          feat1     feat3
feat1  1.000000  0.871754
feat3  0.871754  1.000000

4.code에서 정의한 데이터에서   
1) 하나라도 NaN이 있는 행은 삭제하고 print하는 code  (df1에 저장 후 print)    
2) 모든 값이  NaN인  행을 삭제하고 print하는 code  (df2에 저장 후 print)   
3) NaN이 포함된 행을 삭제할때 데이터가 4개 이상 있어야 남기도록 하고  (df3)   print하는 code를 작성 하시오

In [ ]:
%reset -f
#과제 4
import pandas as pd

import numpy as np

raw_data = {'name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
            'age': [42, np.nan, 36, np.nan, 73],
            'math': [4, np.nan, np.nan, 2, 3],
            'physics': [25, np.nan, np.nan, 62, 70],
             'korean': [25, np.nan, np.nan, 62, 70]}

df = pd.DataFrame(raw_data)
print(df)
df1=df[:]
#1)
df1.dropna(how='any',inplace=True)
print(df1)

df2=df[:]
#2)
df2.dropna(how='all',inplace=True)
print(df2)

df3=df[:]
#3)
df3.dropna(thread=4,inplace=True)
print(df3)

5.1) 'exam1.csv'파일을 읽고 (첫번째 행이 열이름이 되도록)   
2) english의 결측치는 0으로 치환하고     
3) math의 결측치는 math의 평균 값으로 치환하고   
4) nclass의 결측치는 앞에 값으로 치환하고  
5) print하는 code를 작성하시오  
(inplace=True 사용)

In [ ]:
%reset -f
#과제 5
import pandas as pd
#1)
df=pd.read_csv('exam1.csv')

#2)
df['english'].fillna(0,inplace=True)
#2)
math_mean = df['math'].mean()
df['math'].fillna(math_mean,inplace=True)
#3)
df['nclass'].fillna(method='ffill',inplace=True)
#5)
print(df)

6.아래 code에서 정의하는 데이터 프레임에서    
1) 중복 행을 제거 하고 print하는 code(df1)  
2) c1,c3을 기준으로 중복행을 제거 하고 print하는 code(df2)  
를 작성 하시오.

In [ ]:
%reset -f
#과제 6
import pandas as pd

df=pd.DataFrame({'c1':['a','a','b','a','b'],
                 'c2':[2,1,2,1,2],
                 'c3':[1,1,2,2,2]})
print(df)

#1)
df1=df.drop_duplicates()
print(df1)
#2)
df2=df.drop_duplicates(subset=['c1','c3'])
print(df2)

  c1  c2  c3
0  a   2   1
1  a   1   1
2  b   2   2
3  a   1   2
4  b   2   2
  c1  c2  c3
0  a   2   1
1  a   1   1
2  b   2   2
3  a   1   2
  c1  c2  c3
0  a   2   1
2  b   2   2
3  a   1   2

7.1) wine1.cse 파일을 읽고 (첫행부터 데이터로 읽음)  
2) column 이름을 'country', 'year','feat1','fest2','fest3','feat4'로 지정하고  
3) country의 누락 데이터는 france로 저장하고  
4) feat1, feat2, feat3, feat4의 누락 데이터는 각 열의 평균으로 저장하고  
5) 'country','year' 기준으로 중복데이터를 제거 하고  
6) 'feat1-2' 열을 추가 하여 feat1과 feat2의 핪의 값을 저장하고  
7) 'year'를 기준으로 오름 차순으로 출력하는 code를 작성 하시오.

In [ ]:
%reset -f
#과제 7
import pandas as pd

#1)
df=pd.read_csv('wine1.csv',header=None)
#2)
df.columns=['country','year','feat1','feat2','feat3','feat4']
#3)
df['country'].fillna('france',inplace=True)
#4)
feat1_mean=df['feat1'].mean()
feat2_mean=df['feat2'].mean()
feat3_mean=df['feat3'].mean()
feat4_mean=df['feat4'].mean()
df['feat1'].fillna(feat1_mean,inplace=True)
df['feat2'].fillna(feat2_mean,inplace=True)
df['feat3'].fillna(feat3_mean,inplace=True)
df['feat4'].fillna(feat4_mean,inplace=True)
#5)
df.drop_duplicates(subset=['country','year'],inplace=True)
#6)
df['feat1-2']=df['feat1']+df['feat2']
#7)
print(df.sort_values(by='year'))

  country  year  feat1  feat2  feat3  feat4  feat1-2
0  france  1970   7.40   0.70   0.00   1.90     8.10
6   italy  1980   7.90   0.60   0.06   1.60     8.50
1  france  1990   7.80   0.88   0.00   2.60     8.68
4     usa  1990   7.40   0.70   0.00   2.32     8.10
5  france  1995   7.40   0.66   0.00   1.80     8.06
9     usa  1995   7.50   0.50   0.36   6.10     8.00
3   chile  2000  11.20   0.28   0.56   1.90    11.48
8     usa  2000   7.80   0.58   0.02   2.00     8.38
2   italy  2010   7.91   0.76   0.04   2.30     8.67