<a href="https://colab.research.google.com/github/leegaon0622/Bigdata/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_03%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.아래와 같은 구조를 갖는 시리즈를 만들고 print 하는 code를 아래 셀에  작성한 후 실행하시오. 교안의 예제1-1 참고


|||
|-|-|
|e|5|
|d|6|
|f|7|
|g|8|

In [ ]:
%reset -f
#과제 1
import pandas as pd

df = {'e': 5, 'd':6, 'f':7, 'g':8}
sr = pd.Series(df)
print(sr)

e    5
d    6
f    7
g    8
dtype: int64

2.아래와 같은 구조를 갖는 시리즈를 파이썬 리스트를 이용해 만들고 print 하는 code를 아래 셀에  작성한 후 실행하시오. 교안의 예제1-2 참고


|||
|-|-|
|0|amy|
|1|15|
|2|cse|
|3|3|

In [ ]:
%reset -f
#과제 2
import pandas as pd

list = ['amy',15,'cse',3]
sr = pd.Series(list)
print(sr)

0    amy
1     15
2    cse
3      3
dtype: object

3.아래와 같은 구조를 갖는 시리즈를   
1) 파이썬 튜플과 index option을 이용하여 만들고 print 하는 code를 아래 셀에  작성한 후 실행하시오. 교안의 예제1-3 (1) 참고

|||
|-|-|
|이름|우석|
|생년월일|2003-01-03|
|성별|남|
|학교|true|

In [ ]:
%reset -f
#과제 3
import pandas as pd

tuple = ['우석','2003-01-03','남',True]

sr = pd.Series(tuple, index=['이름','생년월일','성별', '학교'])

print(sr)

이름              우석
생년월일    2003-01-03
성별               남
학교            True
dtype: object

4.아래와 같은 구조를 갖는 데이터 프레임을 딕셔너리를 이용하여  만들고 print 하는 code를 아래 셀에  작성한 후 실행하시오. 교안의 예제 1-4 참고


||e1|e2|e3|
|-|-|-|-|
|0|1|2|3|
|1|4|3|4|
|2|5|3|2|

In [ ]:
%reset -f
#과제 4
import pandas as pd

dict = {'e1': [1,4,5],'e2':[2,3,3], 'e3':[3,4,2] }
df = pd.DataFrame(dict)
print(df)

   e1  e2  e3
0   1   2   3
1   4   3   4
2   5   3   2

5.아래와 같은 구조를 갖는 데이터 프레임을 리스트와 행 인덱스, 열 인덱스 지정방법으로  만들고 print 하는 code를 아래 셀에  작성한 후 실행하시오. 교안의 예제 1-5 참고


||나이|성별|취미|
|-|-|-|-|
|우석|22|남|피아노|
|나라|23|여|산책|

In [ ]:
%reset -f
#과제 5
import pandas as pd

df = pd.DataFrame([[22,'남','피아노'],[23,'여','산책']],
      index=['우석','나라'],
      columns=['나이','성별','취미'])
print(df)

    나이 성별   취미
우석  22  남  피아노
나라  23  여   산책

6.행 인덱스/열 이름 설정  ( 교안 예제 1-5,1-6)  
1) 아래와 같은 구조를 갖는 데이터 프레임을 리스트와 행 인덱스, 열 인덱스 지정방법으로  만들고 print 하고  

||나이|학교|취미|
|-|-|-|-|
|우석|17|고등|피아노|
|나라|14|중등|산책|

2) 아래와 같은 구조를 가지도록 속성을 지정하여 변경하고 print

||age|school|hobby|
|-|-|-|-|
|student1|17|고등|피아노|
|student2|14|중등|산책|


3) 다시 아래와 같은 구조를 가지도록 속성을 지정하여 변경하고 (원본 객체 변경) print

||feat1|feat2|fest3|
|-|-|-|-|
|data1|17|고등|피아노|
|data2|14|중등|산책|

하는 code를 아래 cell에 작성하고 실행 하시오.

In [ ]:
%reset -f
#과제 6
import pandas as pd

#1)
df = pd.DataFrame([[17,'고등','피아노'],[14,'중등','산책']],
                   index=['우석','나라'],
                   columns=['나이','학교','취미'])
print(df)

#2)
df.index = ['student1','student2']
df.columns = ['age','school','hobby']

print(df)

#3)
df.rename(index={'student1':'data1','student2':'data2'},
          columns={'age' : 'feat1', 'school' : 'feat2', 'hobby' : 'feat3'},
         inplace=True)
print(df)

    나이  학교   취미
우석  17  고등  피아노
나라  14  중등   산책
          age school hobby
student1   17     고등   피아노
student2   14     중등    산책
       feat1 feat2 feat3
data1     17    고등   피아노
data2     14    중등    산책

7.아래와 같은 구조를 갖는  데이터 프레임에서
1) 우석의 행을 삭제하고 print하는 code와  
2) 나라와 민정의 행을 삭제하고 print 하는 code  
3) 나이의 열를 삭제하고 print하는 code와  
4) 구분과 학교의 열을 데이터를 삭제하고 print 하는 code를 아래 cell에 작성 하고 실행 하시오. (교안 1-7,1-8 참조)

||나이|구분|취미|학교 |
|-|-|-|-|-|
|우석|17|고등|독서|선경|
|인아|14|중등|산책|한국|
|나라|12|초등|축구|우성|
|민정|19|고등|독서|효성|
|서준|15|중등|농구|상성|

In [ ]:
%reset -f
#과제 7
import pandas as pd
student_data = {'나이': [17,14,12,19,15], '구분':['고등','중등','초등','고등','중등'], '취미':['독서','산책','축구', '독서','농구'], '학교':['선경','한국','우성','효성','상성'] }
df=pd.DataFrame(student_data,index=['우석', '인아', '나라', '민정', '서준'])
print(df)
print('\n')

df1=df[:]
# 1)
df1= df1.drop('우석')
print(df1)

df2=df[:]
# 2)
df2=df2.drop(['나라','민정'])
print(df2)


df3=df[:]
# 3)
df3=df3.drop('나이',axis=1)
print(df3)

df4=df[:]
# 4)
df4=df4.drop(['구분','학교'], axis=1)
print(df4)

    나이  구분  취미  학교
우석  17  고등  독서  선경
인아  14  중등  산책  한국
나라  12  초등  축구  우성
민정  19  고등  독서  효성
서준  15  중등  농구  상성


    나이  구분  취미  학교
인아  14  중등  산책  한국
나라  12  초등  축구  우성
민정  19  고등  독서  효성
서준  15  중등  농구  상성
    나이  구분  취미  학교
우석  17  고등  독서  선경
인아  14  중등  산책  한국
서준  15  중등  농구  상성
    구분  취미  학교
우석  고등  독서  선경
인아  중등  산책  한국
나라  초등  축구  우성
민정  고등  독서  효성
서준  중등  농구  상성
    나이  취미
우석  17  독서
인아  14  산책
나라  12  축구
민정  19  독서
서준  15  농구

8.아래와 같은 구조를 갖는  데이터 프레임에서  
1) 인아의 행을 선택하고 print하는 code를 loc을 이용한 방법 iloc 을 아용한 방법으로   
2) 나라와 민정의 행을 선택하고 print하는 code를 loc을 이용한 방법 iloc 을 아용한 방법으로  
3) 취미와 학교 열을 선택 하고 print하는 code  
를 아래셀에 작성 하고 실행 하시오. (예제  1-9,1-10)


||나이|구분|취미|학교 |
|-|-|-|-|-|
|우석|17|고등|독서|선경|
|인아|14|중등|산책|한국|
|나라|12|초등|축구|우성|
|민정|19|고등|독서|효성|
|서준|15|중등|농구|상성|

In [ ]:
%reset -f
#과제 8
import pandas as pd
student_data = {'나이': [17,14,12,19,15], '구분':['고등','중등','초등','고등','중등'], '취미':['독서','산책','축구', '독서','농구'], '학교':['선경','한국','우성','효성','상성'] }
df=pd.DataFrame(student_data,index=['우석', '인아', '나라', '민정', '서준'])
print(df.loc['우석','구분'])
print('\n')

#1)
print(df.loc['인아'])
print(df.iloc[1])

#2)
print(df.loc[['나라','민정']])
print(df.iloc[[2,3]])

#3)
df = df[['취미','학교']]
print(df)

고등

9.아래와 같은 구조를 갖는  데이터 프레임에서  
1) 인아의 취미를 선택 하고 print하는  code를 loc과 iloc을 이용하여 작성  
2) 나라와 민정의 취미와 학교를 선택하고 print하는 code를 loc과 iloc을 이용하여 아래 cell에 작성하고 실행 하시오.  (예제 1-11)

||나이|구분|취미|학교 |
|-|-|-|-|-|
|우석|17|고등|독서|선경|
|인아|14|중등|산책|한국|
|나라|12|초등|축구|우성|
|민정|19|고등|독서|효성|
|서준|15|중등|농구|상성|

In [ ]:
%reset -f
#과제 9
import pandas as pd
student_data = {'나이': [17,14,12,19,15], '구분':['고등','중등','초등','고등','중등'], '취미':['독서','산책','축구', '독서','농구'], '학교':['선경','한국','우성','효성','상성'] }
df=pd.DataFrame(student_data,index=['우석', '인아', '나라', '민정', '서준'])
print(df)
print('\n')

#1)

print(df.loc['인아','취미'])
print(df.iloc[1,2])

#2)
print(df.loc[['나라','민정'],['취미','학교']])

    나이  구분  취미  학교
우석  17  고등  독서  선경
인아  14  중등  산책  한국
나라  12  초등  축구  우성
민정  19  고등  독서  효성
서준  15  중등  농구  상성


산책
산책
    취미  학교
나라  축구  우성
민정  독서  효성

10.아래와 같은 구조를 갖는  데이터 프레임에서  
1) '영어'  열을 추가 하고 모든 값을 90점으로 입력하고 print  code를 작성 하시오.  
2) '영진'  행을 추가 하고 값을 18, 고등, 배구, 선경,90 으로 입력하고 print code를   
3)  나라의 취미와 학교를 농구, 선경으로 변경하고 print하는 code를
작성 하고 실행하시오. (예제 1-12, 1-13,1-14)

||나이|구분|취미|학교 |
|-|-|-|-|-|
|우석|17|고등|독서|선경|
|인아|14|중등|산책|한국|
|나라|12|초등|축구|우성|
|민정|19|고등|독서|효성|
|서준|15|중등|농구|상성|

In [ ]:
%reset -f
#과제 10
import pandas as pd
student_data = {'이름':['우석', '인아', '나라', '민정', '서준'],
                '나이': [17,14,12,19,15],
                '구분':['고등','중등','초등','고등','중등'],
                '취미':['독서','산책','축구', '독서','농구'],
                '학교':['선경','한국','우성','효성','상성'] }
df=pd.DataFrame(student_data)
print(df)

#1)
df['영어']=90
print(df)

#2)
df.loc[5] = ['영진',18,'고등','배구','선경',90]
print(df)

#3)
df.loc['2',['취미','학교']] = 'shdrn'

   이름  나이  구분  취미  학교
0  우석  17  고등  독서  선경
1  인아  14  중등  산책  한국
2  나라  12  초등  축구  우성
3  민정  19  고등  독서  효성
4  서준  15  중등  농구  상성
   이름  나이  구분  취미  학교  영어
0  우석  17  고등  독서  선경  90
1  인아  14  중등  산책  한국  90
2  나라  12  초등  축구  우성  90
3  민정  19  고등  독서  효성  90
4  서준  15  중등  농구  상성  90

11.아래와 같은 구조를 갖는 데이터 프레임에서  
1) '이름' 열을 행 index로 지정하고   
2) 행 index 기준으로 sorting(오름 차순) 하고 print하는 code를 작성하시오.     
 (예제 1-17~19)

|이름|나이|구분|취미|학교 |
|-|-|-|-|-|
|우석|17|고등|독서|선경|
|인아|14|중등|산책|한국|
|나라|12|초등|축구|우성|
|민정|19|고등|독서|효성|
|서준|15|중등|농구|상성|

In [ ]:
%reset -f
#과제 11
import pandas as pd
student_data = {'이름':['우석', '인아', '나라', '민정', '서준'],
                '나이': [17,14,12,19,15],
                '구분':['고등','중등','초등','고등','중등'],
                '취미':['독서','산책','축구', '독서','농구'],
                '학교':['선경','한국','우성','효성','상성'] }
df=pd.DataFrame(student_data)

#1)
df.set_index=('이름')

#2)
df = df.sort_index()
print(df)

   이름  나이  구분  취미  학교
0  우석  17  고등  독서  선경
1  인아  14  중등  산책  한국
2  나라  12  초등  축구  우성
3  민정  19  고등  독서  효성
4  서준  15  중등  농구  상성

12.(선택) 과제에 upload되어 있는 Case.csv   
1) 파일을 읽어 데이터 프레임에 저장하고    
2) 'city' 열을 삭제하고     
3) 'country' 열을 추가 하여 모든 값을 'korea'로 정하고  
10) 'case2.csv' 파일로 저장 하는 code를   
아래 cell에 작성하고 실행 하시오.

In [ ]:
%reset -f
#과제 12
import pandas as pd
#1)
df = pd.read_csv('/content/Case.csv')

#2)
df = df.drop('city',axis=1)

#3)
df['country']='korea'

#4)
df.to_csv('case2.csv')